body{
	background-color: #1C3144;
}

#header1{
	color:#D00000;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

#header2{
	color:#FFBA08;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

#header3{
	color:#3F88C5;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

#header4{
	color:#D00000;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

#header5{
	color:#FFBA08;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

#header6{
	color:#3F88C5;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

#header7{
	color:#D00000;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

#header8{
	color:#FFBA08;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

#header9{
	color:#3F88C5;
	text-align: center;
	text-shadow: 2px 2px #000000;
}

p{
	text-align: center;
	text-shadow: 1px 1px #000000;
	font-size: 18px;
}